body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center-align {
    width: 100%;
}

.carousel.intro-carousel.carousel-slider {
    height: 100vh;
}

.carousel.intro-carousel .carousel-item {
    margin: 5%;
    border-radius: 1em;
    left: -5%;
    width: 90%;
}

.carousel.intro-carousel.carousel-slider .carousel-item {
    top: -5%;
    height: 85%;
    min-height: 85%;
}

.carousel.intro-carousel .indicators .indicator-item {
    background-color: #282828;
}

.carousel.intro-carousel .indicators .indicator-item.active {
    background-color: #2828287f;
}

.loading-indicator {
    height: 100%;
    min-height: calc(100vh - 64px);
}

#updating-indicator {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.gifDemo {
    max-width: 90%;
}

.text-emphasis {
    font-weight: bold;
}

.page-progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3em;
    background: white;
    z-index: 1;
    box-shadow: 0 0 1em #333;
}
  
.page-progress-bar {
    height: 0.3em;
    background: #70a1ff;
    width: 0%;
}

.WorkingArea {
    display: flex;
    flex-direction: row;
}

.TokenFooter {
    height: 70vh;
    padding-top: 1em;
}
 
.ScrollArea {
    box-shadow: inset 1em 0 1em -1em #333;
}

.selection {
    background: #70a2ff99;
    border-radius: 0.25em;
    border: 2px solid #70a1ff;
}

.box-wrap {
    line-height: 3.0em;
}

.box-wrap > span {
    text-align: center;
    position: relative;
}

.box-wrap > span > .token {
    padding: 0 0.25em;
    border-radius: 0.25em;
    font-size: 1.2em;
}

.box-wrap > span > .token {
    background: #ced6e0;
}

.box-wrap > .ner-PER > .token::after {
    font-family: "Material Icons";
    content: "person";
    font-size: 1em;
    position: absolute;
    top: 0.40em;
    left: 50%;
    margin-left: -0.5em;
}

.box-wrap > .ner-ORG > .token::after {
    font-family: "Material Icons";
    content: "business";
    font-size: 1em;
    position: absolute;
    top: 0.40em;
    left: 50%;
    margin-left: -0.5em;
}

.box-wrap > .ner-LOC > .token::after {
    font-family: "Material Icons";
    content: "place";
    font-size: 1em;
    position: absolute;
    top: 0.40em;
    left: 50%;
    margin-left: -0.5em;
}

.box-wrap > .ner-MISC > .token::after {
    font-family: "Material Icons";
    content: "more";
    font-size: 1em;
    position: absolute;
    top: 0.40em;
    left: 50%;
    margin-left: -0.5em;
}

.box-wrap > .senti-1 > .token {
    background: #7bed9f;
}

.box-wrap > .senti-0 > .token {
    background: #eccc68;
}

.box-wrap > .senti--1 > .token {
    background: #ff5a3d;
}

.box-wrap > .corefhas-yes > .token {
    background: #70a2ffbb;
}

.box-wrap > .corefhas-yes > .coref-tag-cloud {
    position: absolute;
    top: 0.60em;
    left: 0;
}

.box-wrap > .corefhas-yes > .coref-tag-cloud > .coref-tag {
    font-size: 0.9em;
    padding: 0 0.25em;
    border-radius: 0.25em;
    margin: 0 0.05em;
}

.coref-tag-color-0 {
    background: #8dd3c7;
}

.coref-tag-color-1 {
    background: #ffffb3;
}

.coref-tag-color-2 {
    background: #bebada;
}

.coref-tag-color-3 {
    background: #fb8072;
}

.coref-tag-color-4 {
    background: #80b1d3;
}

.coref-tag-color-5 {
    background: #fdb462;
}

.coref-tag-color-6 {
    background: #b3de69;
}

.coref-tag-color-7 {
    background: #fccde5;
}

.coref-tag-color-8 {
    background: #d9d9d9;
}

.coref-tag-color-9 {
    background: #bc80bd;
}

.coref-tag-color-10 {
    background: #ccebc5;
}

.coref-tag-color-11 {
    background: #ffed6f;
}

.box-wrap > .formatting-issue-1 > .token {
    background: #ff5a3d;
}

.tag-btn.formatting-issue-1 {
    background: #ff5a3d;
}

.box-wrap > .selected > .token {
    filter: invert(90%);
}

.box-wrap > .selected > .token::after {
    color: white;
    top: 0.60em;
}

.box-wrap > .selected > .coref-tag-cloud > .coref-tag {
    filter: invert(90%);
}

.BottomPanel {
    z-index: 1;
    background: rgba(206, 214, 224, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2em;
    box-shadow: 0 0 1em #333;
}

.BottomPanelComponent {
    width: 82.5%;
    margin: 0.4em auto;
}

#TagRemovalButtons {
    font-size: 0.8em;
    font-style: italic;
}

#TagRemovalButtons > div {
    font-size: 1.2em;
    font-style: normal;
}

.coref-number-adjust-enabled{
    background: #ffffff;
}

.coref-number-adjust-disabled{
    background: #999999;
}

#TagAddNumberSubmit{
    background: #70a2ffbb;
    margin-left: 1em;
}

.span-block {
    display: block;
}

.tag-btn {
    display: inline-block;
    padding: 0 0.25em;
    border-radius: 0.25em;
    margin-top: 0.2em;
    margin-right: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-btn-icon {
    font-size: 1em;
}

.tag-btn.default-tag-btn {
    background: #ffffff;
}

.tag-btn.senti-1 {
    background: #7bed9f;
}

.tag-btn.senti-0 {
    background: #eccc68;
}

.tag-btn.senti--1 {
    background: #ff5a3d;
}

.tag-btn:active {
    filter: invert(90%);
}

.ghost {
    display: none;
}

#articleInfoScatter {
    width: 100%;
    touch-action: none;
}

#categoryPickerTree {
    height: 40vh;
    overflow-y: auto;
}

#categoryRankings {
    display: none;
    position: fixed;
    background: #ffffff;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    overflow-y: auto;
    z-index: 3;
}

#categoryRankingsGraph {
    overflow-x: auto;
}

.color-invert {
    background-color: #000000;
    color: #ffffff;
}

.rc-tree {
    margin: 0;
    border: 1px solid transparent;
}
.rc-tree .rc-tree-treenode {
    margin: 0;
    padding: 0;
    line-height: 20px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
}
.rc-tree .rc-tree-treenode.filter-node > .rc-tree-node-content-wrapper {
    color: #a60000 !important;
    font-weight: bold !important;
}
.rc-tree .rc-tree-treenode ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
    display: inline-block;
    margin: 0;
    padding: 1px 3px 0 0;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
}
.rc-tree .rc-tree-treenode span.rc-tree-switcher,
.rc-tree .rc-tree-treenode span.rc-tree-iconEle {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.rc-tree .rc-tree-treenode span.rc-tree-switcher.rc-tree-switcher-noop {
    cursor: auto;
}
.rc-tree .rc-tree-treenode span.rc-tree-switcher.rc-tree-switcher_open::before {
    font-family: "Material Icons";
    content: "indeterminate_check_box";
    background-color: #000000;
    color: #ffffff;
}
.rc-tree .rc-tree-treenode span.rc-tree-switcher.rc-tree-switcher_close::before {
    font-family: "Material Icons";
    content: "add_box";
    background-color: #000000;
    color: #ffffff;
}
.rc-tree:not(.rc-tree-show-line) .rc-tree-treenode .rc-tree-switcher-noop {
    background: none;
}
.rc-tree.rc-tree-show-line .rc-tree-treenode:not(:last-child) > ul {
    background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7') 0 0 repeat-y;
}
.rc-tree-child-tree {
    display: none;
}
.rc-tree-child-tree-open {
    display: block;
}
.rc-tree-node-selected {
    background-color: #7bed9f;
}
.rc-tree-icon__open::before {
    font-family: "Material Icons";
    content: "list";
}
.rc-tree-icon__close::before {
    font-family: "Material Icons";
    content: "list";
}
.rc-tree-icon__docu::before {
    font-family: "Material Icons";
    content: "local_offer";
}
.rc-tree-indent-unit {
    display: inline-block;
    padding-left: 18px;
}
.animation .rc-tree-treenode {
    display: flex;
}
.animation .rc-tree-treenode .rc-tree-indent {
    position: relative;
    align-self: stretch;
}
.animation .rc-tree-treenode .rc-tree-indent .rc-tree-indent-unit {
    position: relative;
    height: 100%;
}
.animation .rc-tree-treenode .rc-tree-indent .rc-tree-indent-unit::before {
    position: absolute;
    top: 100%;
    right: -26px;
    bottom: -100%;
    border-right: 1px solid blue;
    content: '';
}
.animation .rc-tree-treenode .rc-tree-indent .rc-tree-indent-unit-end::before {
    display: none;
}
.animation .rc-tree-treenode-motion:not(.node-motion-appear-active) .rc-tree-indent-unit::before {
    display: none;
}
.rc-tree-child-tree {
    display: block;
}

.node-motion {
    transition: all .3s;
    overflow-y: hidden;
}